.gamearea-gamelevel-editor-popup {
    min-height: 95%;
    width: 95%;
}

.gamearea-gamelevel-editor-container {
  margin-top:15px;
    height: 600px;
    overflow: scroll;
}

.skill-icons {
    float:left;
    margin-top: -5px;
    margin-right: 5px;
}
